[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[packages]
requests = "*"
praw = "*"
musicbrainzngs = "*"
"psycopg2-binary" = "*"
boto3 = "*"
pylast = "*"
python-dotenv = "*"

[requires]
python_full_version = "3.10.2"
